.container {
  border-bottom: 2px solid white;
}

.profileImg {
  width: auto;
  height: 180px;
  border: 1px solid rgba(33, 5, 191, 0.295);
}

.profileImg .img {
  max-width: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img {
  max-width: 100%;
}
