.descriptionBlock {
  display: grid;
  grid-template-columns: 5fr 10fr;
  color: white;
  padding: 10px;
}


.avatarImg {
  width: 200px;
  height: 200px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5)
}

.descriptionAvatar {
  margin-top: -115px;
  padding-left: 20px;
}
